Django==1.9.2
django-autocomplete-light==2.3.1
django-braces==1.8.1
django-crispy-forms==1.6.0
django-model-utils==2.4
django-registration-redux==1.4
django-star-ratings==0.5.1
isodate==0.5.4
keepalive==0.5
psycopg2==2.6.1
pyparsing==2.1.0
rdflib==4.2.1
six==1.10.0
SPARQLWrapper==1.7.6
