
{% extends 'base.html' %}

{% block title %} {{ block.super }} | {{ title }}  {% endblock title%}

{% block content %}
<div class="row search-box ">
	<div class= 'col-sm-5 col-lg-5 col-md-5'>
	<form method='GET' action='' role="search">
		<div class="input-group">
			<input type='text' class="form-control" name='query' placeholder='Search Books' />
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</form>
</div>
</div>
<div class="row">
	{% for book in books %}
    <div class="col-sm-4 col-lg-4 col-md-4">
    	<div id="hintbox"> </div>
        <div class="thumbnail fixed-height shadow-box">
        	<!-- <form method='POST' action=''> {% csrf_token %} -->
	            <!-- <img src="http://placehold.it/320x150" alt=""> -->
	            <div class ="text-align-center ">
	            	<i class="glyphicon glyphicon-book custom-fa-size"></i>
	        	</div>
	            <div class="caption">
	                <div class="pull-right">
	            {% if user.is_authenticated and book in liked_books %}
					<button type="submit" id="book_like" name= "{{ book.slug }}" class='like fa fa-heart'  />
				{% else %}
					{% if user.is_authenticated %}
						<button type="submit" id="book_like" name="{{ book.slug }}" class="like fa fa-heart-o"
						title="Like" data-toggle="tooltip" />
					{% else %}
						<button type="submit" id="book_dislike" name="{{ book.slug }}"  class="fa fa-heart-o" title="Login to enable like!" data-toggle="tooltip" /> 
						
					{% endif %}
				{% endif %}
				</div>
	                <h6><a href="/books/{{ book.id }}/{{ book.slug }}">{{ book.title }} </a> </h6>
	                <p class="p_description"> Author(s): 
		                {% for item in book.get_authors %} 
			                <a class="a_authors" href="/books/{{ item.person.id }}/{{ item.person.slug }}">{{ item.person.fullname }}{% if not forloop.last %}, {% endif %}
			                </a> 
			            {% endfor %}
		            </p>
		            <h6 >Publish date: {{ book.release_year }}</h6>
	                <p class="p_description"> {{ book.description|default_if_none:""|truncatewords:20}} 
	                {% if book.description %}<a target="_blank" href="/books/{{ book.id }}/{{ book.slug }}">more</a> {% endif %}
	                </p>
	            </div>


	            <!-- <input type="number" name="movie_rating" id="some_id" class="rating"  data-icon-lib="fa" data-active-icon="fa-star" data-inactive-icon="fa-star-o" /> -->
	        <!-- </form> -->
        </div>
    </div>
    {% endfor %}
    {% if books.number == books.paginator.num_pages %}
	    <div class="col-sm-4 col-lg-4 col-md-4 ">
	        <div class="thumbnail fixed-height text-align-center shadow-box" >
	        	
	        	{% if user.is_authenticated %}
		            <a href="{% url 'addbook' %}" >
		            	<i class="fa fa-plus-circle fa-4x masterTooltip" title="Add new book." ></i></a>
		        {% else %}

		        	<i class="fa fa-plus-circle fa-4x" data-toggle="tooltip" title="Login to add new book."></i>

		        	<!-- TODO : if not login first login and then redirect to addperson -->
		        {% endif %}
	       
	        </div>
	    </div>
	  {% endif %}

	

</div>

<div class="row text-align-center">
    <div class="pagination">
	    <span class="step-links">
	        {% if books.has_previous %}
	            <a href="?page={{ books.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ books.number }} of {{ books.paginator.num_pages }}.
	        </span>

	        {% if books.has_next %}
	            <a href="?page={{ books.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
	</div>
{% endblock content%}



