{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Recome-Me {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'head_css.html' %}
    <style>
      {% block style %}
      
      {% endblock style %}
    </style>

    {% block extrahead %}
    {% endblock %}

    
   </head>

   <body>

      
<!-- Include the nav bar-->
{% include "static_navbar.html" %}

    {% block pageheader %}
        
    {% endblock pageheader %}

    <div class="container">

       	{% block content %}
       	
        {% endblock content%}
  
    </div> <!-- /container -->


    {% include 'javascript.html' %}
   </body>
</html>