{% extends "base.html" %}

{% block pageheader %}
	{% include 'head_jumbotron.html' %}

{% endblock pageheader %}

{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}
{% endblock style %}

{% block content %}
<!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
           
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <i class="fa fa-film custom-fa-size"></i>
          <h2>Movies</h2>
          <p>Did you watch a great movie recently? share it with us!</p>
          <p><a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-film"></span>Film</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <i class="fa fa-book custom-fa-size"></i>
          <h2>Book</h2>
          <p>Share your thoughts about the books that you love! </p>
          <p><a class="btn btn-primary" href="#" role="button" ><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books</a></p>
          <!-- <p><a class="btn btn-primary" href="#" role="button" >Book</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <i class="fa fa-headphones custom-fa-size"></i>
          <h2>Music</h2>
          <p>Here you can share the musics that you love!</p>
          <p><a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Musics</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


       	
{% endblock content%}

